# Copy this file to config/atlas.env and replace USERNAME for the Atlas account.
EPIPLUME_REPO_DIR=/project/hpai_plume/EpiPlume
EPIPLUME_R_LIBS_USER=/home/USERNAME/R/x86_64-pc-linux-gnu-library/4.5
EPIPLUME_HYSPLIT_INSTALL_DIRECTORY=/project/hpai_plume/EpiPlume/software/hysplit-atlas/exec
EPIPLUME_SLURM_ACCOUNT=hpai_plume
EPIPLUME_GCC_MODULE=gcc/13.4.0
EPIPLUME_R_MODULE=r/4.5
